@import './utils/mixins';
@import './utils/vars';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.fieldError {
  display: none;
  color: $color-red;
  font-size: 12px;
}
.showError { 
  display: block;
}

.content {
  width: 100%;  
  max-width: 700px;
  border-radius: 8px;
  margin: 60px auto;
  background-color: $color-white; 
  $color: $color-black;
  font-family: $font-lato;

  @media (max-width: 767px){
    width: 100%;
    max-width: 100%;
  }

  &__results{
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);

    padding: 30px;
    text-align: center;

    p{ padding: 15px}
  }
}

form {
  .forms {
    flex: 1;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    font-family: $font-lato;

    width: 700px;
    margin: 0px auto;
    padding: 50px;
    max-width: 500px;
    border-radius: 8px;

    @media (max-width: 767px){
      width: unset;
      max-width: unset;
      padding: 20px;
    }

    fieldset {
      min-inline-size: auto;
      border: 0;
      width: 550px;
      padding-bottom: 50px;

      @media(max-width: 767px){
        width: 100%;
      }
    }

    legend {
      width: 100%;
      flex: 1;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
        font-weight: normal;
        color: $color-dark-gray;
      }

      h2 {
        margin: 10px 0;
      }
    }

    &__field {
      flex: 1;
      @include display-flex;
      @include flex-direction(column);
      padding: 10px 0;
      margin: 10px;

      input {
        flex: 1;
        background: $color-gray;
        border-radius: 8px;
        border: 0;
        padding: 15px;
        font-size: 16px;
        color: $color-black;
        
        &:focus {
          outline: 0;
          border-radius: 0;
        }
        &::placeholder{
          font-size: 14px;
          padding: 0;
        }

      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        flex: 1;
        background: $color-gray;
        border-radius: 7px;
        border: 0px;
        padding: 10px 15px;
        font-size: 13px;
        color: $color-black;

        @media(max-width: 767px){
          &:focus{
            max-width: 200px;
          }
        }
      }

      label {
        font-size: 15px;
        margin: 8px 0;
      }
    }

    &__field-group {
      flex: 1;
      @include display-flex;

      @media(max-width: 767px){
        @include flex-direction(column);
      }

    }
    
    &__button {      
      background-color: $color-light-green;
      color: $color-green;
      border-radius: 8px;
      margin-top: 30px;
      padding: 0px 30px;
      box-shadow: none;
      margin: 0 auto;
      font-size: 15px;
      @include display-flex;
      @include align-items(center);
      p {
        margin-right: 10px;
      }

      &:hover {
        box-shadow: 0px 0px 15px rgba(33,33,33,.2); 
        background-color: darken($color-light-green, 10%);
      }
    }

  }
}